<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian Games Pure Blend" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian Games Pure Blend" project_short="Games Pure Blend" project_menu="games_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian Games Team" team_mail="debian-devel-games@lists.debian.org" team_archives="https://lists.debian.org/debian-devel-games/" team_irc="debian-games" %}

	</body>
</html>
