<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian Hamradio Pure Blend" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian Hamradio Pure Blend" project_short="Hamradio Pure Blend" project_menu="hamradio_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian Hamradio Maintainers" team_mail="debian-hams@lists.debian.org" team_archives="https://lists.debian.org/debian-hams/" team_irc="debian-hams" %}

	</body>
</html>
