        <title>{% if include.page_title != "Home" %}{{ include.page_title }} &middot; {% endif %}{{ include.project_title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="/css/debian.css" rel="stylesheet" type="text/css">
        <link href="/css/blends.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/img/favicon.ico">
