---
layout: med
title: Home
---

<div id="splash">
	<h1 id="med">Debian Med Pure Blend</h1>
</div>

<p>These pages describe packages maintained for the <b>Debian Med Pure Blend</b>.</p>

<p>You can find more information on the Debian Med project <a
	href="https://www.debian.org/devel/debian-med/">here</a>. For developer
information, see the <a href="http://wiki.debian.org/DebianMed">Debian Med page
on the wiki</a>.
You can improve existing descriptions or add new packages via the team's
<a href="https://salsa.debian.org/med-team">GitLab project</a>.</p>
