

/* from the debian.org homepage */
#splash {
	background-image: url('/img/splash_bg.png');
	background-position:top center;
	background-repeat: repeat;
	margin-top: 0;
	margin-bottom: 1.5em;
	text-align: center;
	overflow: hidden;
	height: 120px;
}
#splash h1 {
	background-position:top center;
	padding-top:130px;
	overflow:hidden;
	text-align:center;
	background-repeat:no-repeat;
	display:block;
	margin:0;
	height:0;
}
span.download {
	display: block;
	position: absolute;
	right: 13px;
	font-size: 0.75em;
	line-height: 1.1;
	background-color: white;
	margin-top: 10px;
}
span.download a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	border: 0.15em solid #339900;
	display: block;
	background: transparent url('/img/downloads.png') no-repeat 5px 12px; 
	padding-top: 7px;
	padding-left: 30px;
	padding-right: 1em;
	color:#339900;
}
span.download a:hover {
	text-decoration: none;
	color: white;
	background-color: #339900;
}
span.download a em {
	font-size: 0.75em;
	font-weight: normal;
	clear: right;
	color: #339900;
	line-height: 1;
	font-style: normal;
	display: block;
	margin-bottom: 1em;
}
span.download a:hover em {
	color: white; 
	background-color: #339900;
}
/*********************************************/

/* from the wiki */
pre, div.codearea {
        padding: 1em;
        margin: 2em 1.5em 2em 1.5em;
        line-height: 1.5em;
        background-color: #f5f6f7;
        border: 1px solid #d2d3d7 ;
        font-family: monospace;
        font-size: 100%;
        line-height: 2em;
}

span.sep {
	margin-right: 0.25em;
	margin-left: 0.25em;
}
/*********************************************/

.homepagenav {
	width: 100%;
}

.homepagenav li {
	display: inline-block;
	width: 33%;
}

.homepagenav li:before {
	content: "» ";
}

/***** Blend specific *****/

h1#hamradio {	
	background-image: url('/img/splash_hamradio.png');
}

h1#gis {
	background-image: url('/img/splash_gis.png');
}

h1#med {	
	background-image: url('/img/splash_med.png');
}

h1#astro {
	background-image: url('/img/splash_astro.png');
}

.astro-splash {
	background-image: url('/img/bg_astro.jpg') !important;
}
